<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    {% if messages %} 
        {% for message in messages %} 
            <p style="color:red;">{{ message }}</p> 
        {% endfor %} 
    {% endif %}
    <form method="POST"></form>
        {% csrf_token %}
        <label>Name</label>
        <input type="text" name = 'username' required>
        <label>Phone No.</label>
        <input type="text" name = 'phoneNumber' required>
        <label>Email</label>
        <input type="text" name = 'email' required>
        <label>Your College course</label>
        <input type="text" name = 'course' required>
        <label>Acadmic Year</label>
        <select name="year">
            <option value="firstYear">1st Year</option>
            <option value="secondYear">2nd Year</option>
            <option value="thirdYear">3rd Year</option>
            <option value="fourthYear">4th Year</option>
            <option value="fifthYear">5th Year</option>
            <option value="alumni">Alumni</option>
        </select>
        <label>Password</label>
        <input type="Password" name = 'password' required>
        <label>Confirm Password</label>
        <input type="password" name = 'confirmPassword' required>
        <button type = 'submit'>Register</button>
        <p>Already have an account?
            <a href="{% url 'login' %}">Login?</a>
        </p>
</body>
</html>